.example-container {
    
    display: flex;
    flex-direction: column;
    padding: 10%;
}
  
.example-container > * {
    width: 80%;  
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

#linklistado {
    margin-left: 100%;
}

.fieldset{
    border: 0ch none;
}
.example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }